{% extends 'base.html' %}
{% load static %}
{% block title %}회원가입{% endblock %}

{% block script %}
{% load static %}<script src = "{% static 'js/user.js' %}"></script>
{% endblock script %}

{% block content %}
<div>
    <form id="register_form" action="{% url 'account:registerres' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="phone" id="phone" value="">
        <input type="hidden" name="email" id="email" value="">
        
        <div>
            <h2>회원가입</h2>
        </div>
        <div>ID:
            <input type="text" name="username" id="username" value="">
            <input type="button" value="중복확인" onclick="idCheck()">
            <span id="idcheck-result"></span>
        </div>
        <div>PASSWORD:
            <input type="password" name="password" id="password" value="">
            <span style="font-size: 0.7em">
                * 비밀번호는 최소 8글자 이상 입력해 주셔야 합니다.
            </span>
        </div>
        <div>PASSWORD 확인:
            <input type="password" name="passwordcheck" id="passwordcheck" value="">
        </div>
        <div>이름:
            <input type="text" name="last_name" id="last_name" value="">
        </div>
        <div>이메일:
            <input type="text" name="email_id" id="email_id" value="">
            @<input type="text" name="email_domain" id="email_domain" value="">
            <select id="email_selection" onchange="changeEmailDomain()">
                <option value="" selected="selected">--선택하세요--</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="daum.net">daum.net</option>
            </select>
        </div>
        <div>전화번호:
            <input type="text" id="phone1" value=""> - 
            <input type="text" id="phone2" value=""> - 
            <input type="text" id="phone3" value="">
        </div>
        <div>생년월일:
            <input type="date" id="birth" name="date_of_birth">
        </div>
        <input type="button" value="회원가입" onclick="UserRegister()">
        <input type="button" value="취소" onclick="cancleUserRegister()">
        
    </form>
</div>

{% endblock %}

